@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-input {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring
  }
  .default-btn {
    @apply px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-80 disabled:bg-indigo-600 disabled:opacity-50
  }
  .card {
    @apply bg-white border-2 border-gray-300 p-6 rounded-md tracking-wide shadow-lg dark:bg-gray-900 dark:border-gray-600
  }
}

.mr-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
